* {
  box-sizing: border-box;
  margin: 0px ;
  outline: none;
  padding: 0px;
}



body {
  font-family: sans-serif;
  background: rgb(8, 205, 162);
  
  
}
h1{
  text-align: center;
}
h2{
  background-color: rgb(98, 74, 114);
  color: white;
  margin: 20px 10px;
  padding: 20px 30px;
}
.title{
  color: white;
 margin: auto;
 text-align: center;
 margin-top: 25px;
 margin-bottom: 30px;
}
input {
  width: 400px;
  border: none;
  background-color: rgb(108, 250, 160);
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 30%;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}